.blog-body {
    header {
        background-image: url(../assets/blog-image-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        .blog-header-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 45vh;
        }
    }

    h1 {
        font-size: 6rem;
        position: relative;
        bottom: -13px;
    }
}

// MEDIA QUERIES 
// MEDIA QUERIES 
// MEDIA QUERIES 

@media (max-width: 768px) {
    
    ul li:nth-of-type(3) {
        display: block;
    }
}