.blog-body {
    main {
        background-color: $white;
    }

     .blog-full {
        @include flex-row;
        align-items: flex-start;
        padding-top: 60px;
        
        aside {
            width: calc(30% - 20px);
            margin-right: 20px;

            div {
                padding: 30px;
                margin: 30px auto;
                background-color: white;
            }

            h3 {
                font-size: 2rem;
                margin: 20px 0;
            }

            span {
                color: $green;
                font-weight: 700;
            }

            .related-links ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 10px;
            }
            
            .related-links li {
                list-style-type: disc;
                padding-left: 10px;
            }

            .related-links li a {
                font-size: 1.6rem;
                font-family: $body-font;
                line-height: 30px;
                color: $black;
            }

            .related-links li a:hover,
            .related-links li a:focus {
                color: $yellow;
            }        
        }

        .blog-posts {
            width: calc(70% - 20px);
            margin-left: 20px;

            .post,
            .first-comment,
            .second-comment {
                background-color: white;
                margin: 30px 0;
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
            }

            .second-comment {
                margin: 30px 0 0 0;
            }
        }

        .post {
            padding: 30px;
        }

        .post p {
            margin: 20px 0;
        }

        .post,
        .comments {
            border-bottom: 5px solid $green;
        }

        .first-comment,
        .second-comment {
            @include flex-row;
            align-items: flex-start;  
            padding: 30px;
        }

         .blog-image-small {
            width: 15%;
            min-width: 100px;
            margin-right: 20px;
        }

        .comment-text {
            width: 85%;
        }
    }
}

// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 1050px) {
    .blog-body {
        .blog-full {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            
            aside {
                width: 100%;
                display: flex;              
            }

            aside .bio {
                width: 50%;
            }

            aside .related-links {
                width: 40%;
                // height: 120%;
            }
            .blog-posts {
                 width: 100%;
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 786px) {
    .blog-body {
        .blog-full {
            aside {
                flex-direction: column;
            }

            aside .bio,
            aside .related-links {
                width: 80%;
            }
        }

        .wrapper {
            width: 95%;
        }
    }
}

@media (max-width: 500px) {
    .blog-body {
        .blog-full {

            .first-comment,
            .second-comment {
                flex-direction: column; 
                padding: 30px;
            }

            .blog-image-small {
                width: 35%;        
                margin: 0 0 20px 0;
            }

            .comment-text p:nth-child(1) {
            padding-bottom: 20px;
            }
        }
    }
}

