.blog-body {
    main {
        background-color: $white;
    }

     .blog-full {
        @include flex-row;
        align-items: flex-start;
        padding-top: 60px;
        

        aside {
            width: calc(30% - 20px);
            margin-right: 20px;

            div {
                padding: 30px;
                margin: 30px auto;
                background-color: white;
            }

            h3 {
                font-size: 2rem;
                margin: 20px 0;
            }

            span {
                color: $green;
                font-weight: 700;
            }

            .related-links ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 10px;
                

            }
            
            .related-links li {
                list-style-type: disc;
                padding-left: 10px;
            }
            
        }

        .blog-posts {
            width: calc(70% - 20px);
            margin-left: 20px;

            .post,
            .first-comment,
            .second-comment {
                background-color: white;
                margin: 30px 0;
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
            }

            .second-comment {
                margin: 30px 0 0 0;
            }
        }

        .post {
            padding: 30px;
        }

        .post p {
            margin: 20px 0;
        }

        .post,
        .comments {
            border-bottom: 5px solid $green;
        }

        .first-comment,
        .second-comment {
            @include flex-row;
            align-items: flex-start;  
            padding: 30px;
        }

         .blog-image-small {
            width: 15%;
            min-width: 100px;
            margin-right: 20px;
        }

        .comment-text {
            width: 85%;
        }

        // form {
        //     @include flex-row;
        //     flex-direction: column;
        //     align-items: flex-start;
        //     margin: 30px 0;
        // }

        // .form-inputs {
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-between;
        // }

        // input[type="text"],
        // input[type="email"] {
        //        width: 49.5%; 
        //        height: 70px;
        // }

        // button {
        //     width: 100%;
        //     margin-top: 10px;
            
        // }

        // input[type="text"],
        // input[type="email"],
        // textarea,
        // button {
        //     border: none;
        // }

        // input[type="text"],
        // input[type="email"],
        // textarea {
        //     text-indent: 30px;
        //     font-size: 1.8rem;
        //     font-family: $body-font;
        // }

        // textarea {
        //     width: 100%;
        //     margin-top: 15px;
        //     resize: none;
        //     padding-top: 30px;
        // }

    }
}