.contact-page {
    background-color: $white;

    header {
        background-image: url(../assets/contact-image-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        

        .contact-header-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 45vh;
        }
    }

    h1 {
        font-size: 6rem;
        position: relative;
        bottom: -13px;
    }

    .wrapper {
        display: flex;
        margin: 50px auto;
    }

    aside {
            width: calc(30% - 20px);
            margin-right: 20px;
            margin: 30px 20px 30px 0;
            
            p {
                font-size: 1.5rem;
            }
            div {
                
                background-color: white;
                padding: 30px;
            }  
            
            .social-icons {
                padding-bottom: 0;
            }

            .contact-info {
                padding-top: 0;
            }
    }

    .contact-email {
        display: inline-block;
        font-weight: 600;
        padding: 20px 0;
        color: $black;
        font-family: $body-font;
        font-size: 1.6rem;
    }

    .social-icons ul {
        @include flex-row;

        i {
            font-size: 2.5rem;
            color: $dark-green;
            margin-right: 25px;
            transition: 1s;
        }

        i:hover,
        i:focus {
            color: $yellow;
        }
    }

    .postal-code {
        @include uppercase;
    }
}

// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 950px) {
    .contact-page {
        main {
            .wrapper {
                width: 95%;
            }
        }
    }
}

@media (max-width: 786px) {
    .contact-page {
        main {
            .wrapper {
                flex-direction: column-reverse;
            }
            aside {
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }

            .social-icons ul {
                justify-content: center;
            }

            .social-icons ul i {
                margin: 0 15px;
            }

        }
    }
}