
// stripping styles
body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer,
aside {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

// Global styles

html {
    font-size: 62.5%;
}

p {
    font-family: $body-font;
    line-height: 30px;
    color: $black;
    // font-size: calc(0.4rem + 1vw);
    font-size: 1.8rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: $fancy-font;
    @include uppercase;
    color: $black;
    letter-spacing: 2px;
    font-weight: lighter;
}


.wrapper {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    color: $white;
}

img {
    display: block;
    width: 100%;
}

// NAV STYLING

nav {
    background-color: $dark-green;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    a,
    h2 {
        color: $white;
    }

    a {
        font-family: $body-font;
        text-transform: uppercase;
        @include font-size(16);
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0 30px;
        transition: 1s;
    }

    h2 {
        font-family: $fancy-font;
        @include font-size(30);
        font-weight: lighter;
        @include uppercase;
    }
}

nav a:hover,
nav a:focus {
    color: $yellow;
}

// RESPONSIVE NAV STYLING

label {
    position: absolute;
    color: white;
    top: 8px;
    right: 30px;
    font-size: 4rem;
    width: 26px;
    display: none;
}

#toggle {
    display: none;
    transition: 3s ease-in;
}


// Skip to main content link

.skip a {
    color: black;
    background: $green;
    font-size: 3rem;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    transform: translateY(-50px);
}
 
.skip a:focus {
    transform: translateY(0);
}

// GLOBAL CLASSES

.primary-link {
    background-color: $yellow;
    font-family: $fancy-font;
    color: $black;
    font-size: 2rem;
    letter-spacing: 1.5px;
    @include uppercase;
    padding: 10px 20px;
    transition: 0.5s;
}

.primary-link:hover,
.primary-link:focus {
    box-shadow: 5px 5px 0 $black;
}

.on-link {
    color: $yellow;
}

.alt-background {
    background-color: $white;
}

// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 768px) {
    nav ul li {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
    } 

    #toggle:checked + ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    #toggle:checked + ul li {
        text-align: center;
        display: block;
    }

    #toggle:checked + ul li:nth-of-type(3) {
        display: none;
    }

    #toggle:checked + ul li a {
        font-size: 4rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}


