
// stripping styles
body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer,
aside {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}



// Global styles

html {
    font-size: 62.5%;
}


p {
    font-family: $body-font;
    line-height: 30px;
    color: $black;
    // font-size: calc(0.4rem + 1vw);
    font-size: 1.8rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: $fancy-font;
    @include uppercase;
    color: $black;
    letter-spacing: 2px;
    font-weight: lighter;
}


.wrapper {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    color: $white;
}

nav {
    background-color: $dark-green;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    a,
    h2 {
        color: $white;
    }

    a {
        font-family: $body-font;
        text-transform: uppercase;
        @include font-size(16);
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0 30px;
        transition: 1s;
    }

    h2 {
        font-family: $fancy-font;
        @include font-size(30);
        font-weight: lighter;
        @include uppercase;
    }
}

nav a:hover,
nav a:focus {
    color: $yellow;
}

img {
    display: block;
    width: 100%;
}

// CLASS MIX-INS

.yellow-link {
    @include yellow-button;
}

.background-wh {
    @include white-background;
}

// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 768px) {
    nav {
        display: none;
    }
}
