
.main {
    header {
        background-color: $dark-green;

        .hero {
            @include flex-row;
            justify-content: space-between;         
        }

        .hero-image {         
            width: 35%;
            min-width: 275px;
            position: relative;
            top: 40px;
            box-shadow: 15px 15px  white;
        }  

        h1 {
            font-size: 15rem;
            margin-left: 40px;
            @include uppercase;
            position: relative;
            

            &:before {
                content: "";
                background-image: url(../assets/circle-text.png);
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                display: inline-block;
                position: absolute;
                top: -10px;
                left: -60px;
            }
        }
    }
}


// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 1120px) {
    .main {
        header {
            h1 {
            font-size: 12rem;
            margin-left: 0;
            }

            h1:before {
                
                width: 200px;
                height: 200px;
                top: -20px;
                left: -40px;
            }         
        }
    }
}

@media (max-width: 920px) {
    .main {
        header {
            h1 {
            font-size: 9rem;
            margin-left: 0;
            }

            h1:before {
                
                width: 175px;
                height: 175px;
                top: -35px;
                left: -40px;
            }       
        }
    }
}


@media (max-width: 768px) {
    .main {

        header {

            .hero {
                flex-direction: column;
                padding-top: 80px;
            }
        }
    }  
}

@media (max-width:480px) {
    .main {
        header {
            h1 {
                font-size: 7rem;
                margin-bottom: 40px;
            }

            h1:before {
                top: -45px;               
            }
        }
    }
}

@media (max-width: 400px) {
    .main {
        header {
            h1 {
                font-size: 5rem;
                margin-top: 20px;
            }

            h1:before {
                top: -50px;
            }
        }
    }
}