
// VARIABLES
// VARIABLES
// VARIABLES

// Colours
$dark-green: #345231;
$green: #709B6B;
$yellow: #E4A436;
$black: #1F1F1F;
$white: #F6F6F6;

// Fonts
$fancy-font: 'Abril Fatface', cursive;
$body-font: 'Montserrat', sans-serif;



// MIX INS
// MIX INS
// MIX INS

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: center;
}

@mixin uppercase {
    text-transform: uppercase;
}




